# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
logs/

# Other files and folders
.settings/
node_modules/
img/

# Executables
*.swf
*.air
*.ipa
*.apk
.env
*.db

database.js

parser.js
versus.json
hero_list.json
heroes.json
tempCodeRunnerFile.js

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
